.header {
    background: rgb(23, 162, 184);
    color: rgb(166, 206, 211);
    font-weight: 500;
    padding: 20px;
    align-items: center;
    div {
        i { 
            transform: scale(2);
         }
         p {
            margin: auto;
         }
    }
    div:nth-child(1){
        color: white;
    }
    div:nth-child(2){
        color: white;
    }
}
.number {
    text-align: center;
    text-transform: uppercase;
    padding:50px 0;
    font-size: 25px;
    font-weight: 300;
    color: rgb(109, 108, 108);
}
.lesson {
    div{
        border-radius: 10px 10px 0 0;
        padding: 10px;
    }
    div:not(:first-child) {
        border-bottom: 2px solid rgb(197, 195, 195);
        color: rgb(23, 162, 184);
    }
    div:not(:first-child):hover {
        border: 2px solid rgb(197, 195, 195);
        color: rgb(14, 95, 107);
    }
    div:first-child {
        border: 2px solid rgb(197, 195, 195);
        border-bottom: 2px solid white; 
    }
}
.data {
    padding: 20px;
    div {
        padding: 5px;
        span {
            font-size: 14px;
            font-weight: 600;
            color: rgb(197, 195, 195);
        }
        p {
            text-transform: uppercase;
        }
        input {
            width: calc(100% - 20px);
            height: 40px;
            box-sizing: border-box;
            border-radius: 3px;
            border: 2px solid rgb(197, 195, 195);
        }
        button {
            height: 40px;
            border-radius: 3px;
            background:rgb(23, 162, 184);
            color: white;
            border: none;
            font-weight: 500;
            font-size: 15px;
            padding: 10px;
        }
    }
}
.header_info {
    padding: 15px;
    background: rgb(199, 241, 248);
    border-top: 1px solid rgb(23, 162, 184);
    color: white;
    font-size: 15px;
    font-weight: 700;
    div:not(:nth-child(2)) {
        text-align: center;
    }
    div {
        p {
            margin: auto;
        }
    }
}
.header_markup {
    padding: 10px;
    border-top: 2px solid rgb(197, 195, 195);
    div:not(:nth-child(2)) {
        text-align: center;
    }
    div {
        select, textarea {
            height: 40px;
            border-radius: 3px;
            border: 2px solid rgb(197, 195, 195);
            margin: auto;
        }
        select {
            width: 70px;
        }
    }
}
.popup {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(63, 62, 62, 0.4);
    z-index: 1;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
.popup_wrap {
    width: 300px;
    height: auto;
    margin: auto;
    background: white;
    position: relative;
    border-radius: 5px;
    .new_hw {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgb(197, 195, 195);
        padding: 20px;
        .cross {
            display: flex;
            flex-direction: column;
            span {
                width: 22px;
                height: 2px;
                background: rgb(109, 108, 108);
                border-radius: 1px;
            }
            span:nth-child(1) {
                transform: rotate(45deg);
            }
            span:nth-child(2) {
                transform: rotate(-45deg);
                margin-top: -2px;
            }
        }
        p {
            font-size: 22px;
            font-weight: 500;
            margin: 0;
        }
    }
}


form {
    margin: 30px 20px;
    input[type="text"] {
        margin-bottom: 30px;
        width: 270px;
        height: 30px;
        box-sizing: border-box;
        border-radius: 3px;
        border: 2px solid rgb(197, 195, 195);
    }
    .input_file {
        position: absolute;
        input[type="file"]:before {
            content: "Choose file...";
            width: 200px;
            height:30px;
            position: absolute;
            background:white ;
            border-radius: 3px 0 0 3px;
            border: 2px solid rgb(197, 195, 195);
            padding: 3px;
        }
        input[type="file"]::after {
            content: "Browse";
            width: 70px;
            height:30px;
            position: absolute;
            background:rgb(170, 168, 168) ;
            left: 198px;
            border-radius: 0 3px 3px 0;
            border: 2px solid rgb(197, 195, 195);
            padding: 3px 10px;
        }
    }
}
.button {
    display: flex;
    margin-top: 70px;
    border-top: 2px solid rgb(197, 195, 195);
    padding: 20px;
    justify-content: end;
    .close {
        background: gray;
        color: white;
        font-size: 18px;
        font-weight: 400;
    }
    .save {
        background: rgb(23, 162, 184);
        color: white;
        font-size: 18px;
        font-weight: 400;
    }
    button {
        width: 70px;
        height: 30px; 
        border: none; 
        border-radius: 3px;
        margin-left: 10px;
    }
}
.active_popup {
    display: flex;
}
