* {
    font-family: 'Roboto', sans-serif;
}
.card {
    width: 600px;
    height: 400px;
    margin: 300px auto;
    background: rgb(160, 206, 206);
    border-radius: 10px;
}
.title {
    width: 500px;
    height: 40px;
    position: absolute;
    margin: 30px -30px;
    background: rgb(220, 100, 30);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 70px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: white;
}
.data {
    width: 350px;
    height: auto;
    position: absolute;
    margin: 100px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    color: rgb(87, 126, 126);
}
.text {
    margin-bottom: 10px;
}
.data>div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.number {
    grid-column: 1/4;
}
.name {
    grid-column: 1/4;
}
input {
    width: calc(100% - 20px);
    height: auto;
    padding: 10px;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid rgb(130, 185, 185);
    background:rgb(185, 221, 221) ;
    color: rgb(130, 185, 185);
}
.opacity {
    opacity: 0;
}
.moon_flag {
    width: 210px;
    height: 235px;
    position: absolute;
    margin: 165px 390px;
    overflow: hidden;
    border-radius:0 0 10px 0;
}
img {
    width: 300px;
    height: 300px;
}